@import 'src/styles.scss';

#container {
    position: sticky;
    background-color: $dark;
    z-index: 10;
    padding: 0px 20px;
    top: 0;

    @include mobile-content {
        position: absolute;
        width: 100vw;
        top: calc(100% - 50px);
        display: flex;
        justify-content: center;
        padding: 0;
        height: 50px;
    }
}

.menu-item {
    display: inline-block;
    height: 60px;
    width: 150px;
    cursor: pointer;

    &.active .indicator {
        width: 42px;
    }

    @include mobile-content {
        width: 120px;
        height: 50px;

        &.active .indicator {
            width: 38px;
        }
    }
}

.menu-text {
    color: white;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    margin-top: 6px;

    @include mobile-content {
        font-size: 20px;
        line-height: 28px;
        margin-top: 8px;
    }
}

.indicator {
    display: block;
    margin: 0px auto;
    background-color: $green;
    height: 7px;
    width: 0px;
    border-radius: 4px;
    transition: width 0.2s;
    transition-timing-function: linear;

    @include mobile-content {
        height: 6px;
        width: 0px;
        border-radius: 3px;
    }
}