@import '../../app.component.scss';

#container {
    position: sticky;
    background-color: $dark;
    padding: 0px 20px;
}

.menu-item {
    display: inline-block;
    height: 60px;
    width: 150px;
    cursor: pointer;

    &.active .indicator {
        width: 40px;
    }
}

.menu-text {
    color: white;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    margin-top: 8px;
}

.indicator {
    display: block;
    margin: 0px auto;
    background-color: $green;
    height: 6px;
    width: 0px;
    border-radius: 3px;
    transition: width 0.2s;
    transition-timing-function: linear;
}