@import "../styles.scss";


#container {
    @include mobile-content {
        position: fixed;
        height: 100%;
    }
}

#scrollable-container {
    @include mobile-content {
        overflow: auto;
        height: calc(100% - 50px);
    }
}