<div id="container">
    <div *ngIf="side === 'left'" class="indicator" >
        <div class="slide-bar"></div>
        <div class="slider"></div>
    </div>
    <div style="margin-top: {{top}}px; text-align: {{side}}" class="content">
        <p *ngFor="let item of items; let i = index" (click)="setItem(i)" class="item {{current === i && 'active'}}">
            {{item}}
        </p>
    </div>
    <div *ngIf="side === 'right'" class="indicator" >
        <div class="slide-bar" style="height: {{(items.length + 1) * 40 + top}}px"></div>
        <div class="slider" style="top: {{(current * 40) + 10 + top}}px"></div>
    </div>
</div>
