<div 
    #container
    id="container" 
    style="transform: translateY({{(showMenu || !isMobile) ? '0px' : '330px'}});"
>
    <div *ngIf="isMobile" class="indicator" >
        <div class="slide-bar" style="height: {{items.length * 45}}px"></div>
        <div class="slider" style="top: {{current * 45}}px"></div>
    </div>
    <div style="text-align: {{isMobile ? 'left' : 'right'}}" class="content">
        <p *ngFor="let item of items; let i = index" (click)="setItem(i)" class="item {{current === i && 'active'}}">
            {{item}}
        </p>
    </div>
    <div *ngIf="!isMobile" class="indicator" >
        <div class="slide-bar" style="height: {{(items.length + 1) * 45}}px"></div>
        <div class="slider" style="top: {{(current * 45) + 28}}px"></div>
    </div>
</div>
