@import '../../app.component.scss';

#container {
    display: inline-block;
    width: 300px;
}

.content {
    display: inline-block;
    width: 270px;
}

p {
    margin: 18px 3px 0px;
    line-height: 22px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }

    &.active {
        font-weight: bold;
    }
}

.indicator {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 30px;
}

.slide-bar {
    margin: 0px 13px;
    width: 2px;
    background-color: #ACACAC;
}

.slider {
    position: absolute;
    left: 10px;
    background-color: $green;
    width: 8px;
    height: 35px;
    border-radius: 4px;
    transition: top 0.2s;
    transition-timing-function: ease-out;
}